.modal.custom {
    outline: none;
}

.modal.custom .modal-dialog {
    width: 40%;
    margin: 0 auto;
}

.modal-header {
    min-height: 16.42px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #428bca;
}

.modal-title {
    color: white;
}

thead {
    background-color: #428bca;
    border-bottom: 1px solid #e5e5e5;
    color: white;
}

@media (min-width: 768px) {
    .container {
        max-width: 890px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1350px;
    }
}

.container{
    margin: 0px auto;
    padding-top: 10px;
}

.btn-sm{
    margin-left: 10px;
}

td{
    vertical-align: center;
}
body{
    line-height: 0.2;background: rgb(197,176,227);
    background: radial-gradient(circle, rgba(197,176,227,0.3984944319524685) 0%, rgba(222,120,182,0.49653364763874297) 88%);}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}